* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    text-align:center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#preloader {
    width: 48px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

.content {
    width: 100%;
}

#koeponlijst li {
    height:48px;
    width: 100%;
    padding: 8px;
}

/* PENDEL - UITLEG 1 + 2 & WELKOM*/

.center_content
{
    margin: 0 auto;
    width:85%;
    text-align: center;
}

.pendel-logo-icon
{
    width: 35%;
    margin: 25% 25% 5% 25%;
}

.btnVolgende
{
    width: 85%;
    margin-top: 6%;
}

/* PENDEL - UITLEG 1 */
.header_uitleg1
{
    display:none;
}

.content_uitleg1
{

    background-image: url(../img/PENDEL_uitleg-bg.jpg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;

}

/* PENDEL - UITLEG 1 */
.header_uitleg2
{
    display:none;
}

.content_uitleg2
{

    background-image: url(../img/PENDEL_uitleg-bg.jpg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;

}

/* PENDEL - UITLEG 1 */
.header_welkom
{
    display:none;
}

.content_welkom
{

    background-image: url(../img/PENDEL_uitleg-bg.jpg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;

}

/* SIDEMENU */
.titel-menu
{
    float: right;
    position: relative;
    margin-top: -10px;
    left: -5px;
}

/*-------------------------overzicht-------------------------------*/
#banner_overzicht{
    width: 100%;
    margin-top: -48px;
    box-shadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.75);
}

#banner_overzicht img{
    width: 100%;
}

#content_overzicht{
    margin-top: 20px;
    overflow: hidden;
}

.kop_overzicht{
    left: 72px;
    top: 200px;
    position: absolute;
}

.a_overzicht{
    width: 100% !important;
    margin: 10px  0;
    display: block;
    height: auto;
    overflow: auto;
}

.listimg_overzicht{
    margin: auto 16px;
    width: 40px;
    float: left;
    border-radius: 20px;
}

.text_overzicht{
    float: left;
}

p.subscr_overzicht{
    width: 70%;
    margin: 0;
}

p.cat_overzicht{
    float: left;
    margin: 0;
}

p.adress_overzicht{
    float: left;
    margin: 0;
}

.filter_btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.icon_filter{
    color: #757575 !important;
}

#nobar {
    margin-top: 0;
}

/*-------------------detail ----------------------------*/
#logo_detail{
    width: 80px;
    height: 80px;
    background-color: black;
    position: absolute;
    bottom: -40px;
    left: 16px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px grey;
}

#content_detail{
    margin-top: 70px;
    overflow: hidden;
}

.icon_detail{
    margin-top: 10px;
    width: auto;
}

.kop_detail{
    left: 72px;
    top: 150px;
    position: absolute;
}

.location_detail{
    width: 100% !important;
    margin: 10px  0;
    display: block;
    height: auto;
    overflow: auto;
    padding-bottom: 15px;
}

.subscr_detail{
    margin: 0 0 10px 16px;
    font-weight: 200;
}

#icon_scan{
    width: 25px;
    margin: 15px auto;
}